body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
   
}

.redbody{
    background-color: rgb(250, 57, 57);
    width: 1500px;
    height: 1200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rows{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.columns{
    margin: 10px;
    justify-content: space-between;
}
.tile{
    background-color: rgb(88, 88, 88);
    aspect-ratio: 1 / 1;

    align-items: center;
}

.screen{
    display:grid;
    width: 1000px;
    height: 1000px;
    background-color: rgb(192, 192, 192);
    column-gap: 5px;
    row-gap: 5px;
    /*
    grid-template-rows: repeat(auto-fit, minmax(20px, 2fr));
    grid-template-columns: repeat(auto-fit, minmax(20px, 2fr));
    grid-auto-flow: dense;
    */
    justify-content: space-evenly;
    grid-area:auto;

}